# deps
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
bun-debug.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# go (backend track — reserved)
/apps/api/bin/
/apps/worker/bin/

# go compiled binaries (jangan commit hasil build)
/apps/api/api
/apps/worker/worker
